body {
  #grad {
    background-image: linear-gradient(blue, green);
  }

h1 {
  color: #ff0000;
  margin-left: 20px;
}

#Favorite {
  padding: 15px;
  background: #FFF;
  width: 150px;
  height: 150px;
}
